<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontControleur</servlet-name>
        <servlet-class>controleurs.FrontControleur</servlet-class>
        <init-param>
            <param-name>header</param-name>
            <param-value>controleurs.Header</param-value>
        </init-param>
        <init-param>
            <param-name>footer</param-name>
            <param-value>controleurs.Footer</param-value>
        </init-param>
        <init-param>
            <param-name>connectionControleur</param-name>
            <param-value>controleurs.ConnectionControleur</param-value>
        </init-param>
        <init-param>
            <param-name>login</param-name>
            <param-value>controleurs.Connexion</param-value>
        </init-param>
        <init-param>
            <param-name>listfilms</param-name>
            <param-value>controleurs.ListeFilmsControleur</param-value>
        </init-param>
        <init-param>
            <param-name>logout</param-name>
            <param-value>controleurs.Logout</param-value>
        </init-param>
        <init-param>
            <param-name>insertacteurpage2</param-name>
            <param-value>controleurs.InsertActeurPage</param-value>
        </init-param>
        <init-param>
            <param-name>InsertionActeur</param-name>
            <param-value>controleurs.InsertionActeurControleur</param-value>
        </init-param>
        <init-param>
            <param-name>InsertionActeuract2</param-name>
            <param-value>controleurs.InsertionActeurControleurActe2</param-value>
        </init-param>
        <init-param>
            <param-name>listeactoravecphotos</param-name>
            <param-value>controleurs.ListeActorAvecPhotosControleur</param-value>
        </init-param>
        <init-param>
            <param-name>InsertionFilm</param-name>
            <param-value>controleurs.InsertionActeurFilm</param-value>
        </init-param>
        <init-param>
            <param-name>InsertionFilmPage</param-name>
            <param-value>controleurs.InsertFilmPage</param-value>
        </init-param>
        <init-param>
            <param-name>IndexControl</param-name>
            <param-value>controleurs.IndexControleur</param-value>
        </init-param>
        <init-param>
            <param-name>shopcontroller1</param-name>
            <param-value>controleurs.ShopController1</param-value>
        </init-param>
        <init-param>
            <param-name>ShoppingCartMVC</param-name>
            <param-value>controleurs.ShoppingCartMVCControleur</param-value>
        </init-param>
        <init-param>
            <param-name>checkout</param-name>
            <param-value>controleurs.CheckOutControleur</param-value>
        </init-param>
        <init-param>
            <param-name>pdfgeneration</param-name>
            <param-value>controleurs.PDFControleur</param-value>
        </init-param>
        <init-param>
            <param-name>htmlverspdf</param-name>
            <param-value>controleurs.HTMLversPDFPage</param-value>
        </init-param>
        
    </servlet>
  
    <servlet-mapping>
        <servlet-name>FrontControleur</servlet-name>
        <url-pattern>/FrontControleur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
